
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgb(218,220,224);
}

#navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 100%;
}

#navbar h1 {
    margin: 0;
    padding: 1;
    padding-right: 30px; 
}

#navbar h2 {
    margin: 0;
    padding: 1;
    padding-left: 20px;
}

#content {
    margin-top: 60px;
}